.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    height: 60vh;
    z-index: 100;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.form-container #credentials{
    padding-bottom: 30px;
    width: 100%;
}

#card-container-login {
    width: 40%;
    padding: 0 2rem;
    margin-top: 40px;
}