.btn-link { 
    text-decoration: none;
    color: white;
}

.btn:hover{
    background-color: #ffd500;
    color: #000;
    border-color: #ffd500;

}

.main-container {
    min-width: 100%;
    max-width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    padding: 0;
}

.main-row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: 100%;
}

.main-map{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.main-hero {
    background-color: rgb(46, 51, 56);
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-box {
    margin: 0 10vw;
}

.main-box h1, p {
    padding: 10px 0;
}

.blue {
    height: calc((100vh - 70px) /2);
    background-color: #005abbc0;
}
.yellow {
    height: calc((100vh - 70px) /2);
    background-color: #ffd500c0;
}